
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<div id="products" >
    <h3>Danh mục sách</h3>
    <a class="btn btn-outline-secondary" th:href="@{/}">Trang chủ</a>
    <a class="btn btn-outline-secondary" th:href="@{/book/new}">Thêm sách mới</a>
    <hr>
    <table>
        <tr>
            <td>Mã sách</td>
            <td>Tên sách</td>
            <td>Tác giả</td>
            <td> Ngày ra mắt</td>
            <td>Số lượng</td>
            <td></td>
        </tr>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.date}"></td>
            <td th:text="${book.amount}"></td>
            <td class="text-center"><a class="btn btn-danger" th:href="@{/borrow/{id}(id=${book.id})}"
                                       onclick="return confirm('Bạn muốn mượn sách này không?')">mượn</a></td>
        </tr>
    </table>
</div>
</body>
</html>