<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3>Thông tin sách</h3>
    <a th:href="@{/}">Trang chủ</a>
    <a th:href="@{/books}">Danh mục sách</a>
    <th:block th:if="${message != null}">
        <hr>
        <h4 th:text="${message}"></h4>
    </th:block>
    <hr>
    <div th:if="${borrowBook != null}">
        <div>
            <label>Mã thẻ mượn:</label>
            <label th:text="${borrowBook.id}"></label>
        </div>
        <div>
            <label>Mã sách: </label>
            <label th:text="${borrowBook.book.id}"></label>
        </div>
        <div>
            <label>Tên sách: </label>
            <label th:text="${borrowBook.book.name}"></label>
        </div>
        <hr>
        <a class="btn btn-outline-success" th:href="@{/return?id={id}(id = ${borrowBook.id})}">Trả sách</a>
    </div>
</div>
</body>
</html>