<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Home Page</title>
</head>
<body>
<p>
    <a th:href="@{/employee/create}">Add new employee</a>
</p>
<table id="products">
    <thead>
    <tr>
        <th>id</th>
        <th >Name</th>
        <th>Birthday</th>
        <th >ID Card</th>
        <th>Salary</th>
        <th >Phone</th>
        <th >Email</th>
        <th >Address</th>
        <th >Position</th>
        <th >Degree</th>
        <th >Division</th>
        <th>Username</th>
        <th >Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee: ${employeeList}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.birthday}"></td>
        <td th:text="${employee.idCard}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.phone}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.position.name}"></td>
        <td th:text="${employee.educationDegree.name}"></td>
        <td th:text="${employee.division.name}"></td>
        <td th:text="${employee.user.userName}"></td>
        <td class="text-center"><a class="btn success"
                                   th:href="@{/employee/view/{id}(id=${employee.id})}">Xem</a></td>

        <td class="text-center"><a class="btn btn-primary" th:href="@{/employee/{id}/edit(id=${employee.id})}">Sửa</a>
        </td>

        <td class="text-center"><a class="btn btn-danger" th:href="@{/employee/delete/{id}(id=${employee.id})}"
                                   onclick="return confirm('Bạn muốn xóa khách hàng này không?')">Xóa</a></td>
    </tr>
    </tbody>
</table>
<div>
    <span>
        <a th:if="${employeeList.hasPrevious()}" th:href="@{/employee(page = ${employeeList.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,employeeList.totalPages - 1)}">
        <a th:href="@{/blog(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${employeeList.hasNext()}" th:href="@{/employee(page = ${employeeList.number +1})}">Next</a>
    </span>
</div>
<div th:replace="~{/layout::footer}">
</div>
</body>
</html>