<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>ADD NEW PRODUCT</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label style="font-weight: bold"> PRODUCT NAME: </label>
            <input type="text" th:field="*{name}"/>
            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div>
            <label>PRODUCT PRICE: </label>
            <input type="text" th:field="*{price}"/>
            <p style="color: red"  th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        </div>
        <div>
            <label>PRODUCT DESCRIPTION: </label>
            <input type="email" th:field="*{description}"/>
        </div>
        <div>
            <label>PRODUCER: </label>
            <input type="text" th:field="*{producer}"/>
            <p style="color: red"  th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}"></p>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>