<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>VIEW PRODUCT</h3>
<p>
    <a th:href="@{/product}">
        <button class="btn btn-primary">BACK</button>
    </a>
</p>
<div id="detail">
    <table>
        <tr>
            <td>
                <label style="font-weight: bold">PRODUCT NAME:</label>
            </td>
            <td>
                <label th:text="${product.name}"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">PRODUCT PRICE:</label>
            </td>
            <td>
                <label th:text="${product.price}"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">PRODUCT DESCRIPTION:</label>
            </td>
            <td>
                <label th:text="${product.description}"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">PRODUCER:</label>
            </td>
            <td>
                <label th:text="${product.producer}"></label>
            </td>
        </tr>
    </table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>