<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#formSearch").on("click", "#abc", function (event) {
                let title = $("#search").val();
                $.ajax({
                    url: `api/blog/search/${title}`,
                    type: "GET",
                    success: function (blogList) {
                        console.log(blogList)
                        let content = ""

                        for (let i = 0; i < blogList.length; i++) {
                            content += getBlog(blogList[i])
                        }
                        document.getElementById("body").innerHTML = content
                    }
                })
                console.log("lỗi")
                event.preventDefault();
            })
            var size = 2;
            $("#load").on("click", "#loadPage", function (event) {
                size++;
                $.ajax({
                    url: `api/blog/load/${size}`,
                    type: "GET",
                    success: function (blogPage) {
                        let content = ""

                        for (let i = 0; i < blogPage.length; i++) {
                            content += getBlog(blogPage[i])
                        }
                        document.getElementById("body").innerHTML = content
                    }
                })
                console.log("lỗi")
                event.preventDefault();
            })

            function getBlog(blog) {
                return `<tr>
                <td >${blog.id}</td>
                <td >${blog.title}</td>
                <td >${blog.content}</td>
                <td >${blog.creatingDate}</td>
                <td >${blog.category}</td>
            <td><a class="deleteSmartphone" href="${blog.id}">Read</a></td>
            <td><a class="deleteSmartphone" href="${blog.id}">Delete</a></td>
        <td><a class="editSmartphone" href="${blog.id}">Edit</a></td>
       </tr>`;
            }
        });
    </script>
</head>
<body>
<h3>Blog List </h3>
<p>
    <a th:href="@{/create}">Create new blog </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<form id="formSearch">
    <input type="text" id="search">
    <input type="button" value="Search" id="abc">
</form>


<table id="product">
    <thead>
    <tr>
        <th>#</th>
        <th>title</th>
        <th>content</th>
        <th>creat Date</th>
        <th>category</th>
        <th colspan="3">Action</th>
    </tr>
    </thead>
    <tbody id="body">
    <tr th:each="row,rowStat : ${blogList}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.getTitle()}"></td>
        <td th:text="${row.getCreatingDate()}"></td>
        <td th:text="${row.getCategory.getName()}"></td>
        <td><a th:href="@{/blog/{id}/read(id=${row.getId()})}">Read</a></td>
        <td><a th:href="@{/blog/{id}/edit(id=${row.getId()})}">Edit</a></td>
        <td>
            <a th:href="@{/blog/{id}/delete(id=${row.getId()})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div id="load">
    <button id="loadPage"> Xem Thêm</button>
</div>
<div>
    <span>
        <a th:if="${blogList.hasPrevious()}" th:href="@{/blog(page = ${blogList.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,blogList.totalPages - 1)}">
        <a th:href="@{/blog(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${blogList.hasNext()}" th:href="@{/blog(page = ${blogList.number +1})}">Next</a>
    </span>
</div>
</body>

</html>
